{% extends 'base.html' %} {% load static %} 

{% block title %}
<title>HRMS | Department Master</title>
{% endblock %}

{% block start %}

<div class="content">
  <div class="container">
    {% if messages %} 
    {% for message in messages %} 
    {% if message.tags == 'error' %}
    <div class="alert bg-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% else %}
    <div
      class="alert bg-primary alert-dismissible fade show text-white"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %} 
    {% endfor %} 
    {% endif %}
    <div class="page-title">
      <h3>
        Department Records

        <button
          type="button"
          class="btn btn-sm btn-outline-primary float-end"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          &nbsp;<i class="fas fa-user-shield"></i>Add department
        </button>
      </h3>
    </div>
    <div class="box box-primary">
      <div class="box-body">
        <table width="100%" class="table table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Department Name</th>
              <th>Department Code</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for department in department_records %}

            <tr>
              <td>{{department.department_name}}</td>
              <td>{{department.department_code}}</td>
              
              {% if department.status %}
              <td style="color: #28a745">Active</td>
              {% else %}
              <td style="color: #dc3545">In Active</td>
              {% endif %}
              <td class="text-end">
                <a
                  href=""
                  class="btn btn-outline-info btn-rounded"
                  data-bs-toggle="modal"
                  data-bs-target="#editdepartmentModal{{department.id}}"
                  ><i class="fas fa-pen"></i
                ></a>

                <a
                  class="btn btn-outline-danger btn-rounded"
                  data-bs-toggle="modal"
                  data-bs-target="#deletedepartmentModal{{department.id}}"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>

            
            <div
              class="modal fade"
              id="editdepartmentModal{{department.id}}"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Edit {{department.department_name}}
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>

                  <div class="modal-body">
                    <div class="container mt-2">
                      <form method="post" action="{% url 'editdepartment' department.id %}">
                        {% csrf_token %}
                        <div class="row jumbotron box8">
                            <div class="col-sm-6 form-group mt-2">
                                <label for="id_department_name">Department Name:</label>
                                {% if department.department_name %}
                                <input type="text" id="id_department_name" name="department_name" class="form-control" value="{{ department.department_name }}">
                                {% else %}
                                <input type="text" id="id_department_code" name="department_name" class="form-control">
                                {% endif %}
                               </div>
                               <div class="col-sm-6 form-group mt-2">
                                <label for="id_department_code">department code:</label>
                                {% if department.department_code %}
                                <input type="text" id="id_department_code" name="department_code" class="form-control" value="{{ department.department_code }}">
                                {% else %}
                                <input type="text" id="id_department_code" name="department_code" class="form-control">
                                {% endif %}
                               </div>
                               <div class="col-sm-4 form-group mt-2">
                                <label for="is_active">Active</label>
                                <input type="checkbox" style="border: 1px solid black;" class="form-check-input" name="status" {% if department.status %} checked {% endif %}>
                            </div>
                        </div>

                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                          <button type="submit" class="btn btn-primary">
                            Save
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            <div
              class="modal fade"
              id="deletedepartmentModal{{department.id}}"
              tabindex="-1"
              aria-labelledby="deletedepartmentModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deletedepartmentModalLabel">
                      Confirm  Deletion
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <p>
                      Are you sure you want to delete
                      <strong>{{ department.department_name }}</strong>?
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <form method="post" action="{% url 'deletedepartment' department.id %}">
                      {% csrf_token %}
                      <input
                        type="submit"
                        class="btn btn-danger"
                        value="Delete"
                      />
                    </form>
                  </div>
                </div>
              </div>
            </div>
            
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add department</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="container mt-2">
          
          <form method="post" action="{% url 'department-master' %}">
            {% csrf_token %}
            <div class="row jumbotron box8">
              {% for field in department_form %}
              <div class="col-sm-6 form-group mt-2">
                {{ field.label_tag }} {{ field }} {% if field.help_text %}
                <small class="form-text text-muted"
                  >{{ field.help_text }}</small
                >
                {% endif %}
              </div>
              {% endfor %}
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Add department</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
