{% extends 'base.html' %} {% load static %} {% block start %}

<div class="content">
  <div class="container">
    {% if messages %} 
    {% for message in messages %} 
    {% if message.tags == 'error' %}
    <div class="alert bg-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% else %}
    <div
      class="alert bg-success alert-dismissible fade show text-white"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %} 
    {% endfor %} 
    {% endif %}
    <div class="page-title">
      <h3>
        Holiday Record(s)

        <button
          type="button"
          class="btn btn-sm btn-outline-primary float-end"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          &nbsp;<i class="fas fa-user-shield"></i>Add Holiday
        </button>
      </h3>
    </div>
    <div class="box box-primary">
      <div class="box-body">
        <table width="100%" class="table table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Holiday Name</th>
              <th>State</th>
              <th>Branch</th>
              <th>Holiday Date</th>
              <th>Holiday Category</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for holiday in holidays_records %}

            <tr>
              <td>{{holiday.holiday_name}}</td>
              <td>{{holiday.state}}</td>
              <td>{{holiday.branch}}</td>
              <td>{{holiday.holiday_date}}</td>
              <td>{{holiday.holiday_category}}</td>
              <td class="text-end">
                <a
                  href=""
                  class="btn btn-outline-info btn-rounded"
                  data-bs-toggle="modal"
                  data-bs-target="#editholidayModal{{holiday.id}}"
                  ><i class="fas fa-pen"></i
                ></a>

                <a
                  class="btn btn-outline-danger btn-rounded"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteholidayModal{{holiday.id}}"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>

            
            
            <div
              class="modal fade"
              id="editholidayModal{{holiday.id}}"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Edit {{holiday.holiday_name}}
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>

                   <div class="modal-body">
                    <div class="container mt-2">
                      <form method="post" action="{% url 'editholiday' holiday.id %}">
                        {% csrf_token %}
                        <div class="row jumbotron box8">
                            <div class="col-sm-6 form-group mt-2">
                              <label for="id_holiday_name">Holiday Name:</label>
                              {% if holiday.holiday_name %}
                              <input type="text" id="id_holiday_name" name="holiday_name" class="form-control" value="{{ holiday.holiday_name }}">
                              {% else %}
                              <input type="text" id="id_holiday_code" name="holiday_name" class="form-control">
                              {% endif %}
                            </div>
                            <div class="col-sm-6 form-group mt-2">
                              <label for="id_holiday_state">State:</label>
                              <select id="id_holiday_state" name="state" class="form-control">
                                  {% for choice in holiday_form.state.field.choices %}
                                      {% if choice.0 == holiday.state %}
                                          <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                                      {% else %}
                                          <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                      {% endif %}
                                  {% endfor %}
                              </select>
                            </div>
                            <div class="col-sm-6 form-group mt-2">
                              <label for="id_holiday_branch">Branch:</label>
                              <select id="id_holiday_branch" name="branch" class="form-control">
                                  {% for choice in holiday_form.branch.field.choices %}
                                      {% if choice.0 == holiday.branch.id %}
                                          <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                                      {% else %}
                                          <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                      {% endif %}
                                  {% endfor %}
                              </select>
                          </div>
                          <div class="col-sm-6 form-group mt-2">
                            <label for="Date">Holiday Date:</label>
                            {% if holiday.holiday_date %}
                            <input type="date" name="holiday_date" class="form-control" id="Date"
                                value="{{ holiday.holiday_date | date:'Y-m-d' }}" required>
                            {% else %}
                            <input type="date" name="holiday_date" class="form-control" id="Date" placeholder=""
                                required>
                            {% endif %}

                        </div>
                        
                          <div class="col-sm-6 form-group mt-2">
                            <label for="id_holiday_category">Holiday category:</label>
                            <select id="id_holiday_category" name="holiday_category" class="form-control">
                                {% for choice in holiday_form.holiday_category.field.choices %}
                                    {% if choice.0 == holiday.holiday_category %}
                                        <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                                    {% else %}
                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        </div>

                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                          <button type="submit" class="btn btn-primary">
                            Save
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
           
             <div
              class="modal fade"
              id="deleteholidayModal{{holiday.id}}"
              tabindex="-1"
              aria-labelledby="deleteholidayModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteholidayModalLabel">
                      Confirm  Deletion
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <p>
                      Are you sure you want to delete
                      <strong>{{ holiday.holiday_name }}</strong>?
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <form method="post" action="{% url 'deleteholiday' holiday.id %}">
                      {% csrf_token %}
                      <input
                        type="submit"
                        class="btn btn-danger"
                        value="Delete"
                      />
                    </form>
                  </div>
                </div>
              </div>
            </div>
            
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add holiday</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="container mt-2">
          
          <form method="post" action="{% url 'holiday-master' %}">
            {% csrf_token %}
            <div class="row jumbotron box8">
              {% for field in holiday_form %}
              <div class="col-sm-6 form-group mt-2">
                {{ field.label_tag }} {{ field }} {% if field.help_text %}
                <small class="form-text text-muted"
                  >{{ field.help_text }}</small
                >
                {% endif %}
              </div>
              {% endfor %}
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Add holiday</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
