{% extends 'base.html' %} 
{% load static %} 
{% block start %}

<div class="content">
  <div class="container">
    
    <div class="page-title">
      <h3>
        Leave Application(s)
        </h3>
    </div>
    {% if messages %} 
    {% for message in messages %} 
    {% if message.tags == 'error' %}
    <div class="alert bg-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% else %}
    <div
      class="alert bg-primary alert-dismissible fade show text-white"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %} 
    {% endfor %} 
    {% endif %}
    <form method="get" action="{% url 'leave-applications' %}" id="filterform">
      
      <div class="row">
        <div class="col-sm-2 form-group mt-2 mb-2">
          <select class="form-control" name="branch" id="branch">
              <option value="">All Branches</option>
              {% for branch in branchs %}
                  <option value="{{ branch.branch_name }}">{{ branch.branch_name }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="col-sm-2 form-group mt-2 mb-2">
          <input class="form-control" type="text" name="employee_name"  {% if employee_name %} value="{{employee_name}}" {% else %} placeholder="Search by Employee" {% endif %} />
      </div>
      
        <div class="col-sm-2 form-group mt-2 mb-2">
          <select class="form-select" id="month" name="month">
            <option value="" >Select Month</option>
            <option value="1" {% if month == "1" %} selected {% endif %} >January</option>
            <option value="2" {% if month == "2" %} selected {% endif %} >February</option>
            <option value="3" {% if month == "3" %} selected {% endif %} >March</option>
            <option value="4" {% if month == "4" %} selected {% endif %} >April</option>
            <option value="5" {% if month == "5" %} selected {% endif %} >May</option>
            <option value="6" {% if month == "6" %} selected {% endif %} >June</option>
            <option value="7" {% if month == "7" %} selected {% endif %} >July</option>
            <option value="8" {% if month == "8" %} selected {% endif %} >August</option>
            <option value="9" {% if month == "9" %} selected {% endif %}  >September</option>
            <option value="10" {% if month == "10" %} selected {% endif %} >October</option>
            <option value="11" {% if month == "11" %} selected {% endif %} >November</option>
            <option value="12" {% if month == "12" %} selected {% endif %} >December</option>
          </select>
        </div>
        <div class="col-sm-2 form-group mt-2 mb-2">
          <select class="form-select" id="year" name="year">
              <option value="">Select Year</option>
              {% for year in year_range %}
                  <option value="{{ year }}" >{{ year }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-sm-2 form-group mt-2 mb-2">
        <select class="form-select" id="status" name="status">
            <option value="">Select Status</option>
            <option value="Pending" {% if selected_status == "Pending" %} selected {% endif %}>Pending</option>
            <option value="Approved" {% if selected_status == "Approved" %} selected {% endif %} >Approved</option>
            <option value="Rejected" {% if selected_status == "Rejected" %} selected {% endif %} >Rejected</option>
        </select>
    </div>
        <div class="col-sm-1 form-group mt-2 mb-2">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-sm-1 form-group mt-2 mb-2">
          <a href="{% url 'leave-applications' %}" class="btn btn-secondary" title="Remove Filters"><i class="fa-solid fa-filter-circle-xmark"></i></i></a>
        </div>
    </div>

  </form>
    <div class="box box-primary">
      <div class="box-body">
        <table width="100%" class="table table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Employee Code</th>
              <th>Employee Name</th>
              <th>Reporting Manager</th>
              <th>Leave</th>
              <th>From Date</th>
              <th>To Date</th>
              <th>Period</th>
              <th>Status</th>

              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% if leave_applications %}
            {% for leaves in leave_applications %}

            <tr>
              <td>{{leaves.employee.employee_code}}</td>
              <td>
                {{leaves.employee.first_name}} {{leaves.employee.last_name}}
              </td>
              <td>{{leaves.employee.reporting_manager}}</td>
              <td>{{leaves.leave_name}}</td>
              <td>{{leaves.from_date}}</td>
              <td>{{leaves.to_date}}</td>
              <td>{{leaves.period}}</td>

              {% if leaves.status == 'Pending' %}
              <td>{{leaves.status}}</td>
              <td class="text-end">
                <a title="Approve Leave"
                  href="{% url 'approve_leave' leaves.id %}"
                  class="btn btn-outline-success btn-rounded"
                >
                  <i class="fas fa-thumbs-up"></i>
                </a>
                <a title="Reject Leave"
                  href="{% url 'reject_leave' leaves.id %}"
                  class="btn btn-outline-danger btn-rounded"
                >
                  <i class="fas fa-thumbs-down"></i>
                </a>
              </td>
              {% elif leaves.status == "Approved" %}
              <td style="color: #28a745">{{leaves.status}}</td>
              <td class="text-end">
                <a
                  href="{% url 'delete_leave' leaves.id %}"
                  class="btn btn-outline-danger btn-rounded"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </td>
              {% else %}
              <td style="color: #dc3545">{{leaves.status}}</td>

              <td class="text-end">
                <a
                  href="{% url 'delete_leave' leaves.id %}"
                  class="btn btn-outline-danger btn-rounded"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </td>
              {% endif %}
            </tr>
           
            {% endfor %}
            {% else %}
            <tr>
              <td>No Record Found</td>
            </tr>

            {% endif %}
            
          </tbody>
        </table>
      </div>
    </div>

    <nav aria-label="Leaves Application Pagination">
      <ul class="pagination ">
          {% if leave_applications.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="First">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ leave_applications.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">&lt;</span>
                  </a>
              </li>
          {% endif %}
  
          <li class="page-item disabled">
              <span class="page-link">Page {{ leave_applications.number }} of {{ leave_applications.paginator.num_pages }}</span>
          </li>
  
          {% if leave_applications.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ leave_applications.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">&gt;</span>
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ leave_applications.paginator.num_pages }}" aria-label="Last">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          {% endif %}
      </ul>
  </nav>

  </div>
</div>

<script>
 
  const selectedYear = "{{ selected_year }}"; 
  const selectedBranch = "{{branch}}"
  
 
  window.addEventListener('DOMContentLoaded', function() {
      const year = document.getElementById('year');
      if (selectedYear) {
          for (let i = 0; i < year.options.length; i++) {
              if (year.options[i].value === selectedYear) {
                  year.options[i].setAttribute('selected', 'selected');
                  break;
              }
          }
      }

      const branch = document.getElementById('branch')
      if (selectedBranch){
        for(let i = 0; i< branch.options.length; i++){
          if(branch.options[i].value == selectedBranch){
            branch.options[i].setAttribute('selected','selected')
          }
        }
      }
  });
</script>

{% endblock %}
